name = "resume"
main = "worker.js"
compatibility_date = "2024-10-03"
account_id = "a8d9c67f586acdd15eebcc65ca3aa5bb"

[assets]
directory = "./assets"
binding = "ASSETS"

[env.production]
name = "resume"
vars = { ENVIRONMENT = "production" }
routes = [
  { pattern = "resume.jclee.me", custom_domain = true }
]
[env.production.assets]
directory = "./assets"
binding = "ASSETS"
[[env.production.d1_databases]]
binding = "DB"
database_name = "resume-prod-db"
database_id = "6c723024-2527-490d-8ffd-38604b923166"
